.team {
    padding-bottom: 47px;
    background: #f5f4fa;
  }
  
  .team__title {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    color: #212121;
  
    margin-bottom: 10px;
    text-align: center;
  }
  
  .team-list {
    // display: flex;
    margin-left: -30px;
    margin-top: -30px;

       
  @media screen and (min-width:768px) {
    //  margin: -30px;
     display: flex;
     flex-wrap: wrap;
    }
  }

  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    background: #ffffff;

    @media screen and (min-width:768px) {
      flex-basis: calc(100% / 2 - 30px);
     }

   @media screen and (min-width:1200px) {
       flex-basis: calc(100% / 4 - 30px);
      }
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-container {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  
  .team-title-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  
    color: #757575;
    text-align: center;
  }