.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    color: #2196f3;
  
    margin-right: 93px;
  }

  .logo-theme_light {
    color: #212121;
  }
  .logo-theme_dark {
    color: #ffffff;
  }
  